:root {
  font-family: Bangers, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 1.3em;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

div.chart {
  position: relative;
  margin: 20px;
}

button.show-chart-button {
  width: fit-content;
  font-size: 10px;
  padding: 1px;
  position: absolute;
  left: 0;
  display: block;
}

.show-chart-false {
  display: none;
}

table.die-result {
  width: 100%;
}
table.die-result td {
  width: 25%;
}

div.dicegroup {
  border: 2px ridge grey;
  border-radius: 5%;
  line-height: 1.2em;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

button.die {
  border-radius: 50%;
  margin: 5px;
}

button.die:disabled {
  background-color: #444444;
  border: 2px ridge grey;
  margin: 4px;
}

button.die:hover {
  transition-duration: 0.5s;
}

button.d4 {
  color: #0066cc;
  border: 2px solid #003366;
}
button.d4:hover:enabled {
  background-color: #002244;
}

button.d6 {
  color: #66cc00;
  border: 2px solid #336600;
}
button.d6:hover:enabled {
  background-color: #224400;
}

button.d8 {
  color: #ccaa00;
  border: 2px solid #665500;
}
button.d8:hover:enabled {
  background-color: #443a00;
}

button.d10 {
  color: #cc4400;
  border: 2px solid #662200;
}
button.d10:hover:enabled {
  background-color: #441100;
}

button.d12 {
  color: #8800cc;
  border: 2px solid #440066;
}
button.d12:hover:enabled {
  background-color: #220044;
}

button.effect-die {
  margin: 10px;
}
button.effect-die.min {
  font-size: 14px;
}
button.effect-die.mid {
  font-size: 16px;
}
button.effect-die.max {
  font-size: 18px;
}
button.effect-die.selected {
  background-color: #666666;
}
button.effect-die.unselected {
  background-color: #222222;
}

div.nav {
  position: fixed;
  top: 0;
  left: 0;
}

button.nav-button {
  border-width: 2px 2px 0 2px;
  border-style: inset;
  border-color: #444444;
  border-radius: 15% 15% 0% 0%;
}

div.page {

}

div.scene-tracker {
  width: 100%;
}

div.scene-tracker table {
  margin: 0 auto;
}

td.scene-box {
  margin: 10px;
  padding: 0;
}

td.scene-box div {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  line-height: 90px;
  display: inline-block;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: black;
}

td.scene-box span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

td.scene-box.scene-position {
  border: 3px inset white;
}

td.scene-box.scene-done {
  opacity: 0.4;
  border: 1px outset grey;
}

td.scene-box.scene-future {
  opacity: 0.9;
  border: 1px inset grey;
}

td.scene-box.scene-green {
  background-color: green;
}

td.scene-box.scene-yellow {
  background-color: yellow;
}

td.scene-box.scene-red {
  background-color: red;
}

table.actors {
  width: 100%;
  text-align: center;
}

table.actors th {
  color: grey;
  font-size: 110%;
  border-bottom: 1px ridge grey;
}

table.actors td {
  width: 25%;
}

.actors div {
  display: inline-block;
  margin: 20px 10px 15px 20px;
}

.actors ul {
  margin: 0;
  padding-left: 0;
}

.actors li {
  list-style: none;
}

div.actor {
  position: relative;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.actors-current .actor {
  font-size: 150%;
}

span.actor-empty {
  padding: 10px;
  display: block;
}

span.actor-name {
  font-weight: bold;
  padding: 10px;
}
span.actor-name:hover{
  background-color: #222222;
  border: 1px solid #444444;
  padding: 8px;
  cursor: pointer;
}

span.actor-remove {
  margin-left: 10px;
  color: red;
  font-weight: bold;
}
span.actor-remove:hover {
  background-color: #880000;
  margin-left: 8px;
  border: 1px solid red;
  cursor: pointer;
}

.actor-hero {
  color: #ccffcc;
}
.actor-environment {
  color: #ccccff;
}
.actor-villain {
  color: #ffcccc;
}
.actor-other {
  color: #ffffff;
}
.actor-minion {
  color: #ffffcc;
}
.actor-lieutenant {
  color: #ffccaa;
}
.actor-die-size-4 {
  font-size: 80%;
  opacity: 0.6;
}
.actor-die-size-6 {
  font-size: 85%;
  opacity: 0.7;
}
.actor-die-size-8 {
  font-size: 90%;
  opacity: 0.8;
}
.actor-die-size-10 {
  font-size: 95%;
  opacity: 0.9;
}
.actor-die-size-12 {
  font-size: 100%;
  opacity: 1;
}

.actor-has-die-true {
}

.actor-has-die-false {
  display: none;
}

span.actor-change-die-size.actor-has-die-true {
  display: inline-block;
  line-height: normal;
  width: fit-content;
  position: relative;
  top: 10px;
}

span.actor-change-die-size.actor-has-die-true button {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1px;
  font-size: 12px;
  position: relative;
}

span.actor-change-die-size.actor-has-die-true button.actor-die-show-change-false {

}

button.advance-tracker {
  margin: 10px 10px 25px 10px;
  border: 2px groove grey;
}
button.advance-tracker:hover {
  transition-delay: 0.3s;
  background-color: #444444;
}

button.undo {
  background-color: #ee3300;
  color: white;
}
button.undo:disabled {
  opacity: 0.2;
}

button.redo {
  background-color: #6600ee;
}
button.redo:disabled {
  opacity: 0.2;
}

.rows-setup {
  display: block;
}

.rows-setup table {
  margin: 20px;
}

.row-changer {
  display: inline-block;
}

.row-changer-buttons {
  border-radius: 5px;
  border: 1px groove grey;
  padding: 5px;
}

.row-changer button:disabled {
  opacity: 0.3;
}

button.size-button {
  width: fit-content;
  padding: 5px;
}

button.decrease-button {
  color: red;
}

button.increase-button {
  color: blue;
}

div.scene-tracker-page {
  border-radius: 5%;
  border: 1px solid black;
  padding: 10px;
}
div.scene-tracker-page.scene-status-green {
  border-color: #004400;
  background-color: #002200;
}
div.scene-tracker-page.scene-status-yellow {
  border-color: #444400;
  background-color: #222200;
}
div.scene-tracker-page.scene-status-red {
  border-color: #440000;
  background-color: #220000;
}

.status-updater-span {
  border: 1px solid grey;
  border-radius: 5%;
  padding: 5px;
  margin: 10px;
}
.status-updater-span span{
  padding: 5px;
}
.status-updater input {

}
.status-updater.status-green {
  color: #00ff00;
}
.status-updater.status-yellow {
  color: #ffff00;
}
.status-updater.status-red {
  color: #ff0000;
}

div.setup-section {
  display: inline-block;
}

div.render-box-updater {
  display: block;
}

div.add-actor {
  margin: 20px;
}

div.add-actor span {
  display: block;
  margin: 10px;
}

div.undo-section {
  margin: 20px;
}

div.reset {
  display: inline-block;
  margin-right: 20px;
}

button.reset-button {
  background-color: #aa0066;
}

div.page {
  margin-top: 25px;
}

div.roll-box {
  display: inline-block;
  margin: 10px;
}

span.die-box {
  margin: 10px;
  padding: 5px;
  color: grey;
}

span.die-roll {
  font-weight: bold;
  font-size: 125%;
  border-radius: 10%;
  border: 1px ridge grey;
  color: white;
}

div.dice-holder {
  display: inline-block;
}

span.help {
  display: block;
  width: 75%;
  font-size: 80%;
  color: #aaaaaa;
  text-align: center;
  margin: 0 auto;
}

div.challenge-box-creator {
  margin: 10px;
  border: 2px groove grey;
  border-radius: 5%;
}

div.challenge-box {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 25px;
  margin: 5px;
}

div.challenge-box.challenge-box-completed-true {
  background: #000044;
  border: 1px groove blue;
  opacity: 0.5;
}

div.challenge-box.challenge-box-timeout-true {
  background: #440000;
  border: 1px groove red;
  opacity: 0.5;
}

div.challenge-box.challenge-box-completed-true.challenge-box-timeout-true {
  background: #220044;
  border: 1px groove blue;
}

div.challenge-box-footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.remove-challenge-box {
  display: block;
  margin: auto;
  color: red;
  width: fit-content;
  block-size: fit-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.remove-challenge-box:hover {
  cursor: pointer;
  background: #444444;
  border: 1px inset grey;
  padding: 4px;
  border-radius: 20%;
}

.challenge-box-checkbox {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px ridge #00ffff;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: #444444;
}

.challenge-box-checkbox:checked {
  -webkit-appearance: none;
  display: inline-block;
  opacity: 0.5;
  background: #00aaff;
}

div.timer-box {

}

.timer-checkbox {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px groove #ff4466;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: #444444;
}

.timer-checkbox:checked {
  -webkit-appearance: none;
  display: inline-block;
  opacity: 0.5;
  background: red;
}

.challenge-box-creator span {
  display: block;
}

div.challenge-holder h3 {
  margin: 10px;
  padding: 0;
}

div.challenge-holder.challenges-false {
  display: none;
}

div.challenge-holder.challenges-true {
  display: block;
  margin-top: 25px;
  margin-bottom: -3em;
}

div.challenge-holder div.challenge-section {
}

div.challenge-section {
  transform: scale(0.7, 0.7);
  transform-origin: top;
}

div.challenge-section div.challenge-box {
  display: inline-block;
}

div.challenge-section div.challenge-box div.remove-challenge-box {
  display: none;
}

div.challenge-section div.challenge-box div.escalation-checkbox-container {
  display: none;
}

div.challenge-section div.challenge-box div.show-challenge-box {
  display: none;
}

div.challenge-creator-section div.obfuscated-checkboxes {
  display: none;
}

div.challenge-section div.challenge-box.challenge-box-shown-false div.shown-checkboxes {
  display: none;
}

div.challenge-section div.challenge-box.challenge-box-shown-false.challenge-box-completed-true div.shown-checkboxes {
  display: block;
}
div.challenge-section div.challenge-box.challenge-box-shown-false.challenge-box-timeout-true div.shown-checkboxes {
  display: block;
}

div.challenge-section div.challenge-box.challenge-box-shown-false div.obfuscated-checkboxes {
  display: block;
  opacity: 0.8;
}
div.challenge-section div.challenge-box.challenge-box-shown-false.challenge-box-completed-true div.obfuscated-checkboxes {
  display: none;
}
div.challenge-section div.challenge-box.challenge-box-shown-false.challenge-box-timeout-true div.obfuscated-checkboxes {
  display: none;
}

div.challenge-section div.challenge-box.challenge-box-shown-true div.obfuscated-checkboxes {
  display: none;
}

div.challenge-creator-section div.shown-checkboxes {
}

div.name-box {
  cursor: pointer;
}

.obfuscated-checkboxes {
  cursor: pointer;
  display: inline-block;
}

.obfuscated-checkboxes input::before {
  font-size: 1.5em;
  content: "?";
  margin: 0;
  box-shadow: inset 1em 1em var(--form-control-color);
  border-radius: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

span.numbox {
  display: inline-block;
}

span.numbox-label {
  display: inline-block;
  padding-right: 1em;
}

span.numbox-box {
  display: inline-block;
}

div.simple-challenge-box .obfuscated-checkboxes input::before {
  color: #00aaff;
}

div.timer-box .obfuscated-checkboxes input::before {
  color: #ff4466;
}

.obfuscated-checkboxes input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.25em;
  cursor: pointer;
}

div.simple-challenge-box .obfuscated-checkboxes input::before {
  border: 2px groove #00ffff;
}

div.timer-box .obfuscated-checkboxes input::before {
  border: 2px ridge #ff0000;
}

.obfuscated-checkboxes:hover input::before {
  background: #666666;
  font-weight: bold;
}

.checkbox-container {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: fit-content;
  display: inline-block;
}

.checkbox-container span {
  margin-right: 0.15em;
}

.escalation-checkbox-container input::before {
  font-size: 1.5em;
  content: "⇑";
  padding: 0;
  height: 2em;
  width: 2em;
  cursor: pointer;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.escalation-checkbox-container input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.escalation-checkbox-container:hover input {
  color: #ffd700;
  font-weight: bold;
}

.escalation-checkbox-container input:checked::before {
  content: "⇣";
}

div.escalated-true {

}

div.escalated-true .challenge-box-checkbox {
  border: 3px groove #aaffff;
  background: #888888;
}

div.escalated-true .challenge-box-checkbox.challenge-box-checkbox:checked {
  background: #00ffff;
}

div.escalated-false {

}

div.container-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

div.checkbox-container {
  padding: 5px;
}

div.escalation-checkbox-container:hover {
  border: 1px solid #888888;
  border-radius: 20px;
  background: #444444;
  padding: 4px;
}

div.show-challenge-box {
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
}

.show-challenge-box .shown-challenge-box-true {
  opacity: 1;
}

.show-challenge-box .shown-challenge-box-false {
  opacity: 0.3;
}

div.show-challenge-box span {
  padding-right: 5px;
}

div.show-challenge-box:hover {
  background: #444444;
  border: 1px ridge grey;
  padding: 9px;
}

div.name {
  display: block;
}

button.spinner {
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
  padding: 2px 4px;
  margin: 0 1px;
  color: #aaaaaa;
}
button.spinner:hover {
  color: white;
}

button.timer-button {
  padding: 5px;
  font-size: 0.9em;
}

button.timer-button-yellow {
  background: #ffd700;
  color: black;
}

button.timer-button-red {
  background: #dd0000;
  color: black;
}

div.timer-box {

}

div.timer-div {
  border-radius: 10px;
  border: 2px ridge grey;
  padding: 5px;
}

div.timer-div-yellow {
  background: #ffd700;
  color: black;
}

div.timer-div-red {
  background: #dd0000;
  color: black;
}

div.timer-div-timeout {
  opacity: 0.3;
}

div.choice-section .undecided {
  color: #bbbbbb;
  opacity: 0.8;
}

div.choice-section .chosen {
  color: #ccccff;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid grey;
  opacity: 1.0;
}

div.choice-section .unchosen {
  color: #888888;
  opacity: 0.6;
}

div.choice-section .picked {
  transform: scale(1.1, 1.1);
  border-radius: 10px;
  outline: 3px groove grey;
}

div.choice-section .chosen.picked {
  color: #ccffff;
}

div.choice-section .undecided.picked {
  color: #ddffdd;
}

div.choice-section .unchosen.picked {
  color: #ffcccc;
  opacity: 0.9;
}

div.choice-section td {
  padding: 0.5em;
}

div.choice-section .choice-die-box {
  margin: 0px 0.5em;
  display: inline-block;
}

div.choice-section tr:hover {
  outline: 1px solid grey;
}

div.choice-section .picked:hover {
  outline: 3px ridge grey;
}

select.selector-with-prev-choice {
  appearance: none;
  border-radius: 10px;
  border: 1px groove #444444;
}

select.selector-with-prev-choice:hover {
  border: 1px ridge #00ffff;
}

select.selector-with-prev-choice option {
  appearance: none;
  padding: 0.2em;
}

select.selector-with-prev-choice option:disabled {
}

select.selector-with-prev-choice option:selected {
}

.ability.status-green {
  background: green;
}

.ability.status-yellow {
  color: black;
  background: yellow;
}

.ability.status-red {
  color: black;
  background: red;
}

.ability.status-out {
  color: white;
  background: #444444;
}

.ability span {
  margin: 0 5px;
}

.ability {
  border: 1px groove grey;
  margin: 5px 0;
  line-height: normal;
}

.ability.ability-hover {
  border: 1px ridge blue;
}

.ability.ability-unselected {
  opacity: 0.7;
}
.ability.ability-unselected.ability-hover {
  opacity: 1.0;
}
.ability.ability-unselected.status-green {
  background: #448844;
}
.ability.ability-unselected.status-yellow {
  background: #aaaa44;
}
.ability.ability-unselected.status-red {
  background: #884444;
}
.ability.ability-unselected.status-out {
  background: #222222;
}

.ability.ability-selected {
  border: 3px ridge blue;
  transform: scale(1.02, 1.02);
}

.ability-pool {
  margin: 3px;
}

.ability-actions {
  width: 10%;
}

.ability-name {
  width: 25%;
}

.ability-category {
  width: 10%;
  font-weight: bold;
  font-size: 85%;
  opacity: 0.7;
}

.ability-description {
  display: inline-block;
  font-size: 0.8em;
  width: 45%;
}

.char-sheet {
  position: fixed;
  display: block;
  z-index: 1000;
  top: 2em;
  left: 2em;
  bottom: 1em;
  background: black;
  overflow-y:scroll;
  overflow-x:hidden;
}

.export-char-sheet {
  position: absolute;
  top: 0.5em;
  left: 0;
  text: white;
}

.export-char-sheet button {
  border: 0 solid grey;
  border-radius: 10px;
  background: #444444;
}

.export-char-sheet button:hover {
  background: #888888;
}

.close-char-sheet {
  position: absolute;
  top: 0.5em;
  right: 0;
  text: white;
}

.close-char-sheet button {
  border: 0 solid grey;
  border-radius: 10px;
  background: #444444;
}

.close-char-sheet button:hover {
  background: #888888;
}

.character-sheet {
  margin: 1em;
}

.character-sheet .qualities-and-powers div {
  display: inline-block;
  margin: 1em;
}

.pqs {
  margin: auto;
}

.pqs ul {
  margin: 0;
  padding: 0;
}

.pqs span {
  margin: 0;
  padding: 0;
}

.pqs td {
  margin: 0;
  padding: 0.25em;
}

.abilities li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pq {
  background: #eeeeee;
  color: black;
  margin: 0;
  padding: 0;
}

.pq .pq-name {
  text-align: left;
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.pq .pq-die-size {
  text-align: right;
  margin-right: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
}

.chosen-ability {
  margin: 0;
  padding: 0;
}

.char-description {
  padding: 0.2em;
  font-size: 1.1em;
  color: #dddddd;
}

.char-description-missing .char-description-field {
  opacity: 0.7;
}

.char-description-present .char-description-field {
  font-weight: bold;
  color: #fefefe;
}

.ability-choice-chosen {
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10%;
  margin: 0;
  padding-left: 0.1em;
  padding-right: 0.1em;
  background-color: rgba(255, 255, 255, 0.3);
}

.status {
  margin: auto;
}

.status-name {
  transform: rotate(-90deg);
  font-size: 0.6em;
}

.status-row {
  margin: 0.25em;
}

.status-die {
  padding: 0.7em;
  background: #eeeeee;
  color: black;
}

.green-status-die {
  border: 3px solid green;
}

.yellow-status-die {
  border: 3px solid yellow;
}

.red-status-die {
  border: 3px solid red;
}

.health-description {
  display: block;
  position: relative;
}

.health-row {
  display: block;
  position: relative;
}

.health-name {
  position: absolute;
  top: -1.5em;
  left: -1em;
  font-size: 0.6em;
}

.health-row {
  margin: 0.25em;
}

.health-die {
  padding: 0.7em;
  background: #eeeeee;
  color: black;
  border-radius: 25%;
}

.green-health-die {
  border: 2px ridge green;
}

.yellow-health-die {
  border: 2px ridge yellow;
}

.red-health-die {
  border: 2px ridge red;
}

.description-section {
  display: inline-block;
}

.details-panel {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
}

.health-panel {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 1em;
}

.health-table tfoot {
  border-top: 3px dotted grey;
  background: #444444;
}

.export-section pre {
  text-align: left;
}

.toggle-char-sheet-div {
  position: absolute;
  top: 1em;
  right: 1em;
}

.next-page-button {
  position: absolute;
  top: 3.5em;
  right: 1em;
}

.prev-page-button {
  position: absolute;
  top: 3.5em;
  right: 4.5em;
}

/* Keep at bottom */
.hidden {
  display: none;
}
